/* body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
} */

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

/* body.dark {
      --body-color: #18191a;
      --sidebar-color: #242526;
      --primary-color: #3a3b3c;
      --primary-color-light: #3a3b3c;
      --toggle-color: #fff;
      --text-color: #ccc;
  } */

/* ===== Sidebar ===== */
.sidebar {
    /* position: relative; */
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--primary-bg-color-2);
    transition: var(--tran-05);
    z-index: 10;
}

.sidebar.close {
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

/* body.dark .sidebar header .toggle {
      color: var(--text-color);
  } */

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

/* .sidebar li.search-box {
      border-radius: 6px;
      background-color: var(--primary-color-light);
      cursor: pointer;
      transition: var(--tran-05);
  }
  
  .sidebar li.search-box input {
      height: 100%;
      width: 100%;
      outline: none;
      border: none;
      background-color: var(--primary-color-light);
      color: var(--text-color);
      border-radius: 6px;
      font-size: 17px;
      font-weight: 500;
      transition: var(--tran-05);
  } */
.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

/* body.dark .sidebar li a:hover .icon,
  body.dark .sidebar li a:hover .text {
      color: var(--text-color);
  } */

.selected-route {
    background-color: var(--primary-color);
    border-radius: 6px;
}

.selected-route .text {
    color: var(--sidebar-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    /* background-color: var(--primary-color-light); */
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--color-premitive-grey-5);
    transition: var(--tran-05);
}

body.dark .toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

/* body.dark .home .text {
      color: var(--text-color);
  } */

/* ==========================DashboardWrapper starts=======================  */

.s_nav_container {
    /* display: inline-flex;
    height: 100vh;
    padding-bottom: 40px;
    width: 184px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    border-right: 1px solid #ececec;
    background: var(--primary-bg-color-2); */

    display: inline-flex;
    /* height: 896px; */
    height: 100vh;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    border-right: 1.5px solid var(--neutral-opacity-black-8, rgba(13, 13, 13, 0.08));
    background: #FFF;
}

.s_nav_header_cont {
    /* display: flex;
    height: 76px;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch; */

    display: flex;
    height: 76px;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
}

.s_nav_company_logo_cont {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.s_nav_company_logo_cont p {
    /* color: var(--primary-sidebar-icon);
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.4px; */

    color: var(--Neutral-Black-400, #2C2C2C);

    /* Title md/600 */
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 150% */
    letter-spacing: -0.4px;
}

.s_nav_company_logo {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.s_nav_company_logo img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}



/* for navigations */

.s_navigation_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
}

.s_nav_menu_cont-upper {
    width: 100%;
    /* background-color: blue; */

}

.s_nav_menu_cont-lower {
    width: 100%;
    /* background-color: blue; */

}

.s_nav_menu_cont-lower .s_nav_menu>li {
    display: flex;
    /* width: 184px; */
    padding: 12px 20px;
    /* padding: 0px 20px; */
    justify-content: center;
    align-items: center;
    gap: 16px;
    /* background-color: antiquewhite; */
}

.s_nav_menu_cont-lower .s_nav_menu li a {
    display: flex;
    align-items: center;
    /* gap: 8px; */
    flex: 1 0 0;
    /* background-color: blue; */
}

.s_nav_menu_cont-lower .s_nav_menu li div {
    /* width: 16px;
    height: 16px; */
}

.s_nav_menu_cont-lower .s_nav_menu li a p {
    color: #757575;
    font-family: "Hanken Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}







.s_nav_menu_cont {
    width: 100%;
}

.s_nav_menu_item {
    display: flex;
    /* width: 184px; */
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.s_nav_menu_link {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
}

.s_nav_menu_link p {
    color: #757575;
    font-family: "Hanken Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

/* .s_nav_menu_item:hover{
      border-left: 2px solid var(--Neutral-Black-300, #4c4c4c);
      background: var(--Neutral-White-300, #efefef);
  } */

.s_nav_active {
    border-left: 2px solid var(--primary-sidebar-border);
    background: var(--primary-color2);
}

.s_nav_active .s_nav_menu_link {
    margin-left: -2px;
}

.s_nav_active p {
    color: var(--primary-sidebar-icon);
    font-family: "Hanken Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.s_nav_active svg path {
    fill: var(--primary-sidebar-icon);
}

.profileCont {
    display: flex;
    padding: 0px 12px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    /* border: 1px solid white; */
}

.profileContSecondary {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    margin-top: -20px;
}

.profileContThird2 {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
}

.PaymentSwitch2 {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 10px;
    pointer-events: none;
}

.PaymentSwitch2 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider2 {
    border-radius: 20px;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: #b9b9b9;
    transition: 0.4s;
}

.slider2:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 40%;
    top: 1px;
    bottom: 20%;
    border-radius: 50%;
    background-color: var(--primary-sidebar-toggle);
    transition: 0.4s;
}

.profileContThird {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
}

input:checked+.slider2 {
    background-color: #939393;
}

input:checked+.slider2:before {
    transform: translateX(-5px);
    background-color: var(--primary-sidebar-toggle);
}

.slider2 .rounded {
    border-radius: 34px;
}

.slider2.rounded:before {
    border-radius: 50%;
}

.toggle-btn>.profileContThird {
    /* padding: 10px 0; */
    padding-top: 20px;
}

.toggle-btn>.profileContThird>.profileTitle3 {
    width: 100px;
    color: #757575;
    font-family: "Hanken Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* background-color: #2C2C2C; */
    /* word-wrap: ; */
}
















/* dashboard style  */
.dashboard-page {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    align-items: center;
    /* background-color: #00F260; */
    /* margin: 0; */
}

.dashboard-page-header {
    display: flex;
    /* width: 1256px; */
    width: 100%;

    /* padding: 20px 40px; */
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid var(--neutral-opacity-black-8, rgba(13, 13, 13, 0.08));
    background: var(--Neutral-White-100, #FFF);
    background-color: #00F260;

}

.dashboard-page-header>div {
    /* width: 100%; */
    /* display: flex; */
    /* align-items: center; */
    /* gap: 40px; */
    /* flex: 1 0 0; */
    /* background-color: #0575E6; */
}

.dashboard-page-header>div>p {
    color: var(--Neutral-Black-400, #2C2C2C);
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 155.556% */
}







/* get started search  */
.dashboard-search-section {
    /* width: 100%; */
    /* margin: 0 auto; */
    display: flex;
    width: 1147px;
    width: 100%;
    width: calc(100% - 60px);
    /* max-width: 1180px; */
    max-width: 1280px;
    justify-content: space-between;
    align-items: flex-start;
    align-items: center;
    gap: 25px;
}

.dashboard-search-section>.search-cont {
    display: flex;
    /* width: 979px; */
    width: 100%;
    max-width: calc(100% - 150px);
    height: 56px;
    padding: 10px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Neutral-White-500, #B9B9B9);
    flex-shrink: 0;
    /* background-color: burlywood; */
}

.dashboard-search-section>.search-cont>input {
    color: var(--Neutral-Black-100, #939393);
    font-family: "Hanken Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
    outline: none;
    /* width: 80%; */
    width: 100%;
}

.dashboard-search-section>button {
    /* display: flex;
    width: 92px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--2, linear-gradient(147deg, #00F260 0%, #0575E6 90.03%)); */

    display: flex;
    width: 134px;
    height: 56px;
    padding: 12px 48px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--2, linear-gradient(147deg, #00F260 0%, #0575E6 90.03%));
}


.dashboard-search-section>button>p {
    color: var(--Neutral-White-100, #FFF);

    /* Body md/600 */
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */




    color: var(--Foundation-Neutral-neutral-50, #EAEBED);
    font-family: "Hanken Grotesk";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 155.556% */
}







.profileTitle3 {
    color: #757575;
    font-family: "Hanken Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}











/* for feedback popup */

.dashboard-feedback-section {
    position: absolute;
    bottom: 50px;
    right: 50px;

}

.dashboard-feedback-section-ques-no {
    display: flex;
    width: 376px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-bottom: 1px solid var(--Neutral-White-300, #EFEFEF);
    background: var(--Neutral-White-100, #FFF);
    /* background-color: yellow; */
}

.dashboard-feedback-section-ques-no>div {
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    justify-content: space-between;
    /* background-color: #00F260; */
}

.dashboard-feedback-section-ques-no>div>.first {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: stretch;
    overflow: hidden;
    color: var(--Neutral-White-500, #B9B9B9);
    text-overflow: ellipsis;

    /* Body md/600 */
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
}

.dashboard-feedback-section-ques-no>div>.second {
    display: flex;
    padding: 4px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
    background: var(--Neutral-White-200, #FBFBFB);
    cursor: pointer;
}

.dashboard-feedback-section-ques-no>div>.second>img {
    width: 16px;
    height: 16px;
}






.dashboard-feedback-section-footer {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    background: var(--Neutral-White-200, #FBFBFB);
}

.dashboard-feedback-section-footer>p {
    flex: 1 0 0;
    color: var(--Neutral-Black-100, #939393);

    /* Caption/400 */
    font-family: Figtree;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    /* 120% */
    letter-spacing: -0.1px;
}

.dashboard-feedback-section-footer>img {
    width: 12px;
    height: 12px;
    fill: var(--Neutral-White-500, #B9B9B9);
    /* background-color: #00F260; */
}



/* for one  */
.dashboard-feedback-section-ques-cont {
    display: flex;
    width: 376px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background: var(--Neutral-White-100, #FFF);
    /* background-color: yellow; */
}

.dashboard-feedback-section-ques-cont>.question-head-cont {
    display: flex;
    /* width: 376px; */
    width: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background: var(--Neutral-White-100, #FFF);
    /* background-color: gray; */
}

.dashboard-feedback-section-ques-cont>.question-head-cont>.quest-head {
    align-self: stretch;
    color: var(--Neutral-Grey-700, #252525);

    /* Body lg/600 */
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
}

.dashboard-feedback-section-ques-cont>.question-head-cont>.ques-res {
    width: 100%;
    display: flex;
    padding: 10px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--Neutral-Grey-100, #ECECEC);
    /* background-color: yellow; */
}

.dashboard-feedback-section-ques-cont>.question-head-cont>.ques-res>input {
    flex: 1 0 0;
    align-self: stretch;
    color: var(--Neutral-Black-100, #939393);

    /* Body md/400 */
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    /* 142.857% */
}

.dashboard-feedback-section-ques-cont>.rating-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.dashboard-feedback-section-ques-cont>.rating-cont>.rating-num-cont {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.dashboard-feedback-section-ques-cont>.rating-cont>.rating-num-cont>div {
    display: flex;
    padding: 10px 12px;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 10px;
    background: var(--Extension-Berry-500, #FF426F);
}

.dashboard-feedback-section-ques-cont>.rating-cont>.rating-num-cont>div>p {
    flex: 1 0 0;
    color: var(--Neutral-White-100, #FFF);
    text-align: center;

    /* Body md/500 */
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}


.dashboard-feedback-section-ques-cont>.rating-cont>.rating-text-cont {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    /* background-color: yellow; */
}

.dashboard-feedback-section-ques-cont>.rating-cont>.rating-text-cont>.dis {
    flex: 1 0 0;
    color: var(--Neutral-White-500, #B9B9B9);

    /* Body sm/400 */
    font-family: Figtree;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
}

.dashboard-feedback-section-ques-cont>.rating-cont>.rating-text-cont>.like {
    flex: 1 0 0;
    color: var(--Neutral-White-500, #B9B9B9);
    text-align: right;

    /* Body sm/400 */
    font-family: Figtree;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
}

.dashboard-feedback-section-ques-cont>.button-cont {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.dashboard-feedback-section-ques-cont>.button-cont>.cancel {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 10px;
    border: 1.5px solid var(--Neutral-White-300, #EFEFEF);
    background: var(--Neutral-White-100, #FFF);
}

.dashboard-feedback-section-ques-cont>.button-cont>.cancel>p {
    color: var(--Neutral-Black-400, #2C2C2C);

    /* Body md/500 */
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

.dashboard-feedback-section-ques-cont>.button-cont>.submit {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 10px;
    border: 1.5px solid #D1ACFF;
    background: var(--2, linear-gradient(147deg, #00F260 0%, #0575E6 90.03%));
}

.dashboard-feedback-section-ques-cont>.button-cont>.submit>p {
    color: var(--Neutral-White-100, #FFF);

    /* Body md/600 */
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
}

/* .dashboard-feedback-section-ques-cont>.rating-cont>.rating-num-cont>div {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
} */


.dashboard-feedback-section-ques-cont-two {
    display: flex;
    width: 376px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background: var(--Neutral-White-100, #FFF);
}

.dashboard-feedback-section-ques-cont-two>.quest-head {
    display: flex;
    width: 328px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.dashboard-feedback-section-ques-cont-two>.quest-head>p {
    align-self: stretch;
    color: var(--Neutral-Grey-700, #252525);

    /* Body lg/600 */
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 150% */
}

.dashboard-feedback-section-ques-cont-two>.two-feed-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.dashboard-feedback-section-ques-cont-two>.two-feed-text>.first {
    align-self: stretch;
    color: var(--Neutral-Black-300, #4C4C4C);

    /* Body sm/500 */
    font-family: Figtree;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 133.333% */
}

.dashboard-feedback-section-ques-cont-two>.two-feed-text>textarea {
    display: flex;
    padding: 10px 16px 10px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--Neutral-Grey-100, #ECECEC);
    /* height: 100px; */

}

.dashboard-feedback-section-ques-cont-two>.two-feed-text>.second {
    align-self: stretch;
    color: var(--Neutral-White-500, #B9B9B9);

    /* Body sm/400 */
    font-family: Figtree;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
}

.dashboard-feedback-section-ques-cont-two>.button-cont {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.dashboard-feedback-section-ques-cont-two>.button-cont>.cancel {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 10px;
    border: 1.5px solid var(--Neutral-White-300, #EFEFEF);
    background: var(--Neutral-White-100, #FFF);
}

.dashboard-feedback-section-ques-cont-two>.button-cont>.cancel>p {
    color: var(--Neutral-Black-400, #2C2C2C);

    /* Body md/500 */
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

.dashboard-feedback-section-ques-cont-two>.button-cont>.submit {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 10px;
    border: 1.5px solid #D1ACFF;
    background: var(--2, linear-gradient(147deg, #00F260 0%, #0575E6 90.03%));
}

.dashboard-feedback-section-ques-cont-two>.button-cont>.submit>p {
    color: var(--Neutral-White-100, #FFF);

    /* Body md/600 */
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
}