.onboarding-page-div {

    /* display: flex; */
    /* background-color: aquamarine; */
    height: 100%;
    overflow-y: scroll;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* padding: 136px 0; */
}

.onboarding-page {
    margin: 0 auto;
    max-width: 376px;
    background-color: yellow;
}