/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.gradient-Text {
  background: linear-gradient(116deg, #3378FF 14.6%, #9442FE 52.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal{
  animation: modal-animation 0.3s ease-out;
}

@keyframes modal-animation {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Quick FIX - Form Overflow */
.q-onb-home{
  overflow: visible !important;
}
.q-onb-home .q-onb-main-heading{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.css-x5knkp-menu{
  overflow: hidden !important;
}