/* Admin section  */
.settings-page-search-admin-section-div {
    width: 100%;
    height: 100%;
}

.settings-page-search-admin-section-div>div {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* search  */
.settings-page-search-section-div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 63px;
    padding: 18px 41px 0 40px;
}

/* table div */
.table-div {
    width: 100%;
    padding: 0 116px 0 40px;
}

.ese-hi {
    /* width: 400px; */
    overflow-x: scroll;
}

/* table  */
.settings-page-admin-table {
    width: 100%;
    width: 800px;
    width: calc(100vw - 340px);
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    background: var(--Neutral-White-200, #FBFBFB);
}

.table-head {
    width: 100%;
}

.settings-page-admin-table>.table-head>tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    align-items: flex-start;
    gap: 8px;
    border-bottom: 1.5px solid rgba(75, 85, 99, 0.30);
    background: var(--Neutral-White-200, #FBFBFB);
}

.settings-page-admin-table>.table-head>tr>th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--Neutral-Black-300, #4C4C4C);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.table-body {
    width: 100%;
    height: 200px;
    height: calc(100vh - 350px);
    overflow: hidden;
    overflow-y: scroll;
}

.table-body>tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    align-items: flex-start;
    align-items: center;
    height: 57px;
    overflow: hidden;

    /* background-color: blue; */



    gap: 8px;
    border-bottom: 1.5px solid rgba(75, 85, 99, 0.30);
    background: var(--Neutral-White-200, #FBFBFB);
}

.table-body>tr>td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--Neutral-Black-300, #4C4C4C);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 171.429% */
}

.table-body>tr>.user {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: flex-start;
    gap: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
}

.table-body>tr>.user>img {
    display: flex;
    width: 24px;
    height: 24px;
    /* padding: 3px 6px; */
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 24px;
}

.table-body>tr>.user>p {
    color: var(--Neutral-Black-300, #4C4C4C);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 171.429% */
}

.table-body>tr>td {}

tr>.sr {
    width: 4%;
}

tr>.user {
    width: 20%;
}

tr>.email {
    width: 20%;
}

tr>.role {
    width: 20%;
}

tr>.status {
    width: 8%;
    width: 8%;
}

tr>.action {
    width: 8%;
}






@media all and (max-width: 1200px) {
    .ese-hi {
        /* width: 400px; */
        /* width: calc(100vw - 340px); */
        /* width: 100%; */
        /* width: 100vw; */
        /* overflow-x: scroll; */
    }

    /* table  */
    .settings-page-admin-table {
        /* width: 100%; */
        /* width: 800px; */
        /* width: calc(100vw - 340px); */
        /* overflow-x: scroll; */
        /* display: flex; */
        /* flex-direction: column; */
        /* padding: 24px; */
        /* flex-direction: column; */
        /* align-items: flex-start; */
        /* border-radius: 12px; */
        /* background: var(--Neutral-White-200, #FBFBFB); */
    }
}