.settings-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* gap: 25px; */
    /* width: 100%; */
    /* padding: 40px; */

    /* background-color: red; */

}

/* settings header  */
.settings-page-header {
    display: flex;
    width: 100%;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #ececec;
    background: var(--Neutral-White-100, #FFF);
    /* background-color: #00F260; */
}

.settings-page-header>div {
    display: flex;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    width: 100%;
}

.settings-page-header>div>p {
    color: var(--Neutral-Black-400, #2C2C2C);
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 155.556% */
}

/* for buttons: edit/manage */
.settings-page-edit-btns-div {
    width: 100%;
    /* max-width: 1196px; */
    /* padding: 32px 26px 0 34px; */
    padding: 30px 40px 10px 40px;

    /* background-color: aqua; */
}

.settings-page-edit-btns {
    display: flex;
    width: 1196px;
    width: 100%;
    align-items: flex-start;
    border-bottom: 1px solid var(--Neutral-White-400, #E0E0E0);
    /* background-color: yellow; */
    height: 52px;
}

/* if button selected  */
.settings-page-edit-btns>.selected {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 12px 12px 0px 0px;
    border-bottom: 1px solid var(--Neutral-Black-100, #939393);
    background: var(--Neutral-White-400, #E0E0E0);
}

.settings-page-edit-btns>.selected>p {
    width: 94px;
    color: var(--Neutral-Black-400, #2C2C2C);
    /* Body md/600 */
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
}

/* if button not selected  */
.settings-page-edit-btns>.not-selected {
    display: flex;
    padding: 16px;
    align-items: flex-start;
}

.settings-page-edit-btns>.not-selected>p {
    width: 104px;
    color: var(--Neutral-Black-400, #2C2C2C);
    /* Body md/600 */
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
}

/* for edit profile page  */
.settings-page-edit-profile-div {
    width: 100%;
    /* max-width: 1196px; */
    max-width: 100vw;
    max-width: calc(100vw - 184px);
    max-height: calc(100vh - 190px);
    max-height: calc(100vh - 155px);
    max-height: calc(100vh - 122px + 68px);
    max-height: calc(100vh - 161px);
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;

    /* background-color: yellow; */
    padding: 40px 76px 0 0;
}

.settings-page-edit-profile {
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 12px;
    border: 1px solid var(--Neutral-Grey-100, #ECECEC);
    width: 100%;
    overflow-y: scroll;
    /* margin-top: 38px; */
}

.settings-page-edit-profile>.edit-profile-img {
    display: flex;
    width: 100px;
    height: 100px;
    padding: 12px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 56px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat, var(--Primary-Grape-100, #F4EBFF);
    background-color: gray;
}

.edit-name-job-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.edit-name-job-title>.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    flex: 1 0 0;
}

.edit-name-job-title>.name>p {
    align-self: stretch;
    color: var(--Neutral-Black-300, #4C4C4C);
    font-family: Figtree;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 133.333% */
}

.edit-name-job-title>.name>input {
    display: flex;
    padding: 10px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--Neutral-Grey-100, #ECECEC);
    outline: none;
}

.settings-page-edit-profile>.edit-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.settings-page-edit-profile>.edit-description>.desc-label {
    align-self: stretch;
    color: var(--Neutral-Black-300, #4C4C4C);
    font-family: Figtree;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 133.333% */
}

.settings-page-edit-profile>.edit-description>div {
    display: flex;
    padding: 10px 16px 10px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--Neutral-Grey-100, #ECECEC);
}

.settings-page-edit-profile>.edit-description>div>textarea {
    flex: 1 0 0;
    align-self: stretch;
    color: var(--Neutral-Black-400, #2C2C2C);
    /* Body md/400 */
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.settings-page-edit-profile>.edit-description>.words-limit {
    align-self: stretch;
    color: var(--Neutral-White-500, #B9B9B9);
    /* Body sm/400 */
    font-family: Figtree;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 133.333% */
}

.settings-page-edit-profile button {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 10px;
    background: var(--2, linear-gradient(147deg, #00F260 0%, #0575E6 90.03%));
}

.settings-page-edit-profile button>p {
    color: var(--Neutral-White-100, #FFF);
    /* Body md/600 */
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
}

/* Admin section  */
.settings-page-admin-section-div {
    max-height: calc(100vh - 190px);
    max-height: calc(100vh - 155px);
    max-height: calc(100vh - 122px + 68px);
    max-height: calc(100vh - 161px);
    overflow-x: scroll;
    width: 100%;
    padding: 18px 3px 0 0;
    width: 100%;
    
}

.settings-page-admin-section-div>div {
    width: 100%;
    /* background-color: yellow; */
    height: 100%;
}

/* search  */
.settings-page-search-section-div {

    width: 100%;
    /* padding-top: 20px; */
    /* display: flex; */
    /* width: 1176px; */
    width: 100%;
    /* align-items: flex-start; */
    display: flex;
    align-items: center;


    gap: 63px;
    /* background-color: red; */
}

.settings-page-search-section {
    width: 100%;
    /* max-width: 1196px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-page-search-section>.search-cont {
    display: flex;
    width: 100%;
    max-width: calc(100% - 120px);
    padding: 10px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Neutral-White-500, #B9B9B9);
}

.settings-page-search-section>.search-cont>input {
    color: var(--Neutral-Black-100, #939393);
    font-family: "Hanken Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
    outline: none;
    width: 100%;
}

.settings-page-search-section>button {
    display: flex;
    width: 92px;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--2, linear-gradient(147deg, #00F260 0%, #0575E6 90.03%));
}

.settings-page-search-section>button>p {
    color: var(--Neutral-White-100, #FFF);

    /* Body md/600 */
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
}


/* admin data  */
.settings-page-manage-admin-div {
    width: 100%;
    /* padding: 25px 30px 40px 34px; */
    /* height: 100vh; */
    /* max-height: 500px; */
    /* max-width: 600px; */
    /* max-width: 100vw; */
    max-width: calc(100vw - 184px);
    max-height: calc(100vh - 237px);
    /* max-height: calc(100vh - 216px); */
    /* overflow: hidden; */
    /* overflow-x: scroll; */
    /* overflow-y: scroll; */
    padding: 40px 75px 0 0;

    /* background-color: yellow; */
}

.settings-page-manage-admin {
    /* padding: 25px 30px 40px 34px; */
    /* height: 100vh; */
    /* max-height: 500px; */
    /* max-width: 600px; */
    /* max-width: 100vw; */
    /* max-width: calc(100vw - 184px); */
    /* max-height: calc(100vh - 237px); */
    /* max-height: calc(100vh - 216px); */
    /* overflow: hidden; */
    display: flex;
    width: 100%;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 24px; */
    border-radius: 12px;
    background: var(--Neutral-White-200, #FBFBFB);
    background: var(--Neutral-White-200, #2C2C2C);
    overflow-x: scroll;
    /* background-color: blue; */
    /* overflow-x: scroll; */
    /* overflow-y: scroll; */
/* 
    max-width: 300px;
    max-width: calc(100% - 00px);
    max-height: calc(100% - 237px); */
}

.settings-page-manage-admin>.sr-user-head-row {
    display: flex;
    width: 100%;
    padding: 16px 24px;
    align-items: flex-start;
    /* gap: 8px; */
    justify-content: space-between;
    border-bottom: 1.5px solid rgba(75, 85, 99, 0.30);
    overflow-x: scroll;
}

.sr-user-head-row>.sr {
    display: flex;
    width: 100px;
    height: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.sr-user-head-row>.sr>p {
    color: var(--Neutral-Black-300, #4C4C4C);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
}

.sr-user-head-row>.user {
    display: flex;
    width: 208px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.sr-user-head-row>.user>p {
    color: var(--Neutral-Black-300, #4C4C4C);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
}

.sr-user-head-row>.email {
    display: flex;
    display: flex;
    width: 208px;
    padding: 0px 8px;
    align-items: center;
}

.sr-user-head-row>.email>p {
    width: 200px;
    flex-shrink: 0;
    color: var(--Neutral-Black-300, #4C4C4C);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
}

.sr-user-head-row>.role {
    display: flex;
    width: 208px;
    padding: 0px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.sr-user-head-row>.role>p {
    color: var(--Neutral-Black-300, #4C4C4C);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
}

.sr-user-head-row>.status {
    display: flex;
    width: 150px;
    padding: 0px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.sr-user-head-row>.status>p {
    color: var(--Neutral-Black-300, #4C4C4C);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
}

.sr-user-head-row>.action {
    display: flex;
    width: 80px;
    padding: 0px 8px 0px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.sr-user-head-row>.action>p {
    color: var(--Neutral-Black-300, #4C4C4C);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
}

.sr-user-user-row {
    display: flex;
    width: 100%;
    padding: 16px 24px;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: 8px; */
    border-bottom: 1.5px solid rgba(75, 85, 99, 0.30);
    background: var(--Neutral-White-200, #FBFBFB);


    /* display: flex; */
    /* width: 100%; */
    /* padding: 16px 24px; */
    /* align-items: flex-start; */
    /* gap: 8px; */
    /* justify-content: space-between; */
    /* border-bottom: 1.5px solid rgba(75, 85, 99, 0.30); */
}

/* sr  */
.sr-user-user-row>.sr {
    display: flex;
    width: 100px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.sr-user-user-row>.sr>p {
    color: var(--Neutral-Black-300, #4C4C4C);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 171.429% */
}

.sr-user-user-row>.user {
    display: flex;
    width: 208px;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
}

.sr-user-user-row>.user>img {
    display: flex;
    width: 24px;
    height: 24px;
    /* padding: 3px 6px; */
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 24px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.sr-user-user-row>.user>p {
    color: var(--Neutral-Black-300, #4C4C4C);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 171.429% */
}

.sr-user-user-row>.email {
    display: flex;
    width: 208px;
    padding: 0px 8px;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
}

.sr-user-user-row>.email>p {

    color: var(--Neutral-Black-300, #4C4C4C);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 171.429% */
}

.sr-user-user-row>.role {
    display: flex;
    width: 208px;
    padding: 0px 8px;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
}

.sr-user-user-row>.role>p {
    color: var(--Neutral-Black-300, #4C4C4C);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 171.429% */
}

.sr-user-user-row>.status {

    display: flex;
    width: 150x;
    padding: 0px 8px;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
}

.sr-user-user-row>.status>p {
    display: flex;
    width: 262px;
    padding: 0px 8px;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
    width: 233px;
    flex-shrink: 0;
}

.sr-user-user-row>.actions {
    display: flex;
    width: 60px;
    padding: 0px 8px 0px 16px;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
}

.sr-user-user-row>.actions>button {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

.no-data-available-div {
    height: calc(100vh - 264px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-data-available-div>p {
    color: var(--Neutral-Black-300, #4C4C4C);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Figtree;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
}